*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 60px 1fr;
  background: #00f;
}

.header {
  background: #f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-rows: 40px 1fr;
  background: #f00;
}

.filterlist {
  background: #0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* overflow: auto doesn't work */

.filterlist__filter {
  height: 30px;
  width: 100px;
  background: #ff0;
}

.kioskslist {
  background: #00ffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 15px;
}

.kiosk {
  background: #ff0;
  height: 100px;
  margin-bottom: 5px;
  padding: 10px;
  min-width: 300px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 10px;
}

.kiosk__image {
  background: url(https://live.staticflickr.com/5726/30038228436_7728b84b2d_b.jpg)
    no-repeat center center;
  background-size: cover;
}

.kiosk__name {
  margin: 0 0 0.4em;
}

.kiosk__description {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .kiosk {
    height: 350px;
    margin: 10px 10px;
    grid-template-rows: 150px 200px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}
