*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 60px 1fr;
  background: #00f;
}

.header {
  background: #f20530;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: "Faster One", cursive;
  font-size: 1.5em;
  color: #fff;
}

.main {
  display: grid;
  grid-template-rows: 40px 1fr;
  background: #f00;
}

.filterlist {
  background: #eee;
  display: inline-flex;
  align-items: center;
  overflow-x: auto;
  padding: 0 10px;
  color: #555;
}

/* overflow: auto doesn't work */

.filterlist__filter {
  height: 30px;
  width: 100px;
  font-size: 0.8em;
  color: #555;
  margin-left: 1em;
}

.kioskslist {
  background: #00ffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 15px;
}

.kiosk {
  background: #ff0;
  height: 100px;
  margin-bottom: 5px;
  padding: 10px;
  min-width: 300px;
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 10px;
}

.kiosk__image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.kiosk__title {
  margin: 0 0 0.4em;
}

.kiosk__description {
  margin: 0;
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  .kiosk {
    height: 350px;
    margin: 10px 10px;
    grid-template-rows: 150px 200px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    flex-grow: 1;
    flex-basis: 60%;
  }
}

@media screen and (min-width: 600px) {
  .kiosk {
    height: 350px;
    margin: 10px 10px;
    grid-template-rows: 150px 200px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    flex-basis: 30%;
  }
}
